            @import 'layout.scss';
            * {
                box-sizing: border-box;
            }
            
            body {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
            
            .navigation {
                background-color: #ff7f50;
                min-height: 200px;
                display: flex;
                text-transform: lowercase;
                justify-content: center;
                align-items: center;
                @include sm {
                    width: 50%;
                }
                .text {
                    background-color: beige;
                    padding: 4px;
                    border-radius: 4px;
                    margin: auto;
                    padding: 8px;
                }
            }
            
            .products-list {
                background-color: #006400;
                height: 200px;
                display: flex;
                text-transform: lowercase;
                justify-content: center;
                align-items: center;
                @include sm {
                    width: 50%;
                }
                .text {
                    background-color: beige;
                    padding: 4px;
                    border-radius: 4px;
                    margin: auto;
                    padding: 8px;
                }
            }
            
            .news {
                background-color: #0ff;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                @include sm {
                    width: 100%;
                }
                @include lg {
                    width: 50%;
                }
                .text {
                    background-color: beige;
                    padding: 4px;
                    border-radius: 4px;
                }
            }