@import 'breakpoints.scss';
* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.square {
    width: 100px;
    height: 100px;
    margin: 16px;
    background-color: #ff7f50;
    @include for-large-up {
        background-color: #a61;
    }
    @include for-medium-up {
        background-color: #8a2be2;
    }
    @include for-extra-large-up {
        background-color: #c47;
    }
}

.container {
    display: flex;
    @include for-landscape {
        display: flex;
    }
    @include for-portrait {
        display: flex;
        flex-direction: row;
    }
}