/*Разместите 2 елемента с классом .container.HTML должен оставаться неизменним.Для добавления стилей используйте  style.css. 
Опишите классы  .red  и  .green чтобы располежение этих квадратов соотвествовало картинке-примеру. 
Опишите класс .footer, чтобы задаьб правильнок расположение футеру */

* {
    box-sizing: border-box;
}

.container {
    width: 50%;
    float: left;
}

.square {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
    float: right;
}

.green {
    background-color: green;
    float: left;
}

section {
    background: aquamarine;
    padding: 16px;
}

footer {
    height: 30px;
    border: 2px solid black;
    clear: both;
}