/*Задайте всем  <li> отступ снизу 16px*/

:active {
    margin-bottom: 16px;
}


/*Задайте зеленый фон и белый цвет текста всем словам нумерованного списка(важно, чтобы фон имело только  слово)*/

ol li>span {
    background-color: green;
    color: white;
}


/*Задайте оранжевыйфон и белый цвет текста всем словам ненумерованного списка(важно, чтобы фон имело только  слово)*/

ul li>span {
    background-color: orange;
    color: white;
}


/* Задайте красную границу слову Антрактида*/

#special+li>span {
    border: 3px solid red;
}


/*Задайте отступ слева 16px всем контінентам кроме Африка*/

#special~li {
    margin-left: 16px;
}