.image-container .main-image {
    margin: 50px auto 0;
    max-width: 100%;
    border-radius: 20px;
    display: block;
}

.gallery {
    display: flex;
    margin: 50px;
}

.card {
    margin: 16px;
    box-shadow: 0px 5px 30px -9px rgba(0, 0, 0, 0.75);
}

.opacity-filter {
    filter: opacity(50%);
}

.caption {
    line-height: 30px;
    text-align: center;
}

.blur-filter {
    filter: blur(4px);
}

.invert-filter {
    filter: invert(100%);
}