* {
    box-sizing: border-box;
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
}

.one td:nth-child(odd),
.three td:nth-child(odd),
.five td:nth-child(odd),
.seven td:nth-child(odd) {
    background-color: black;
}

.two td:nth-child(even),
.four td:nth-child(even),
.six td:nth-child(even),
.eight td:nth-child(even) {
    background-color: black;
}

.top td,
.bottom td {
    border: none;
    background-color: white;
}

.one td:first-child {
    border: none;
    background-color: white;
}

.two td:first-child {
    border: none !important;
    background-color: white;
}

.one td:last-child {
    border: none !important;
    background-color: white;
}

.two td:last-child {
    border: none !important;
    background-color: white;
}

.three td:first-child {
    border: none !important;
    background-color: white;
}

.three td:last-child {
    border: none!important;
    background-color: white;
}

.four td:first-child {
    border: none !important;
    background-color: white;
}

.four td:last-child {
    border: none !important;
    background-color: white;
}

.five td:last-child {
    border: none !important;
    background-color: white;
}

.five td:first-child {
    border: none !important;
    background-color: white;
}

.six td:last-child {
    border: none !important;
    background-color: white;
}

.six td:first-child {
    border: none !important;
    background-color: white;
}

.seven td:last-child {
    border: none !important;
    background-color: white;
}

.seven td:first-child {
    border: none !important;
    background-color: white;
}

.eight td:last-child {
    border: none !important;
    background-color: white;
}

.eight td:first-child {
    border: none !important;
    background-color: white;
}