/*Задайте первой букве первго параграфа шрифт 36 px,  отступ слева 16px и оранжевый цвет*/

.theory::first-letter {
    font-size: 36px;
    color: orange;
    margin-left: 16px;
}


/*Задайте первой строке первого параграфа шрифт  24px*/

.theory::first-line {
    font-size: 24px;
}


/*Выделенный текст первого параграфа должен иметь красный фон и белый цвет текста */

.theory::selection {
    background-color: red;
    color: white;
}


/*Перед всеми ссылками добавьте символ >*/

a::before {
    content: '>';
}


/*После всех ссылок добавьте символ <*/

a::after {
    content: '<';
}