.header {
    background-color: darkturquoise;
    height: 40px;
}

header.nav-list {
    height: 40px;
    position: absolute;
    position: fixed;
}

li.nav-item {
    margin-left: 16px;
    text-align: center;
    line-height: 40px;
    color: white;
    float: left;
    list-style-type: none;
}

main {
    height: 5000px;
    background-color: beige;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 40%;
    right: 45%;
}

.eye_right {
    position: absolute;
    margin-left: 20%;
    height: 30px;
    margin-top: 80px;
    border-radius: 50%;
    background-color: grey;
}

.eye_left {
    position: absolute;
    float: right;
    margin-left: 65%;
    height: 30px;
    margin-top: 80px;
    border-radius: 50%;
    background-color: grey;
}

.ear {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: brown;
    bottom: 60px;
}

.ear_right {
    position: relative;
    float: right;
    left: 40px;
}

.ear_left {
    position: relative;
    float: left;
    right: 40px;
}