.header {
    background-color: darkturquoise;
    height: 40px;
    position: fixed;
    width: 100%;
}

li.nav-item {
    color: white;
    float: left;
    list-style-type: none;
    margin-left: 16px;
}

main {
    height: 5000px;
    background-color: beige;
}

.head {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 50%;
    right: 50%;
}

.eye_right {}

.eye_left {}

.ear {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: brown;
    bottom: 60px;
}

.ear_right {
    position: relative;
    float: right;
    left: 40px;
}

.ear_left {
    position: relative;
    float: left;
    right: 40px;
}