     div>div {
         justify-content: center;
         border: 1px dotted grey;
         margin: 16px;
         width: 200px;
         height: 200px;
     }
     
     .gallery {
         display: flex;
     }
     
     .image {
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;
     }