 /* Задайте всем елементам на странице green цвет фона*/
 
 * {
     background-color: green;
 }
 /* Задайте всем елементам <li> размер шрифта 24 px*/
 
 li {
     font-size: 24px;
 }
 /* Задайте всем елементам  с классом page-header orange фон*/
 
 .page-header {
     background-color: orange;
 }
 /* Задайте элементу с id="best" границу 2 px solid red  */
 
 #best {
     border: 2px solid red;
 }