.header {
    background-color: #006400;
}

.menu {
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 3em;
    list-style: none;
    color: white;
    &__item {
        padding: 0 8px;
        line-height: 3em;
        &_active {
            color: yellow;
            &:hover>.submenu {
                display: block;
            }
        }
        &:hover {
            background-color: #9acd32;
            color: yellow;
        }
    }
}

.submenu {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #ff7f50;
    &__item {
        min-width: 120px;
        padding: 0 8px;
        color: white;
        &:hover {
            color: black;
        }
    }
}

.submenu {
    display: none;
}